---
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import BookSplash from '@components/BookSplash.tsx'
import QuoteGrid from '@components/QuoteGrid'
import Bio from '@components/Bio.tsx'
import WritingSamples from '@components/WritingSamples.tsx'
import TinaEmailSignUp from '@components/TinaEmailSignUp'
import TinaContactForm from '@components/TinaContactForm'
import Footer from '@components/Footer.astro'
import { makeResponsive, type ImageData } from '@lib/build/images'
import { isNotEmpty } from '@lib/utils'

import { client } from '@tina/__generated__/client'

const [page, writingSamples] = await Promise.all([
  client.queries.home({ relativePath: 'home.yaml' }),
  client.queries.writingSamples(),
])

const writingSampleImages =
  writingSamples.data.home.writing.selections
    ?.map((s) => s?.item.image)
    .filter(isNotEmpty)
    .map<ImageData>((path) => ({
      path,
      sizes:
        '(min-width: 1536px) 476px, (min-width: 1280px) 396px, (min-width: 1024px) 438px, (min-width: 768px) 320px, (min-width: 640px) 576px, 100vw',
    })) || []

const images = await makeResponsive([
  {
    path: page.data.home.about.image,
    sizes: '(min-width: 1536px) 432px, (min-width: 450px) 384px, 100vw',
    // this should be cropped to a square for sizes to be accurate
  },
  {
    path: page.data.home.book.cover,
    sizes: '(min-width: 1536px) 382px, (min-width: 768px) 340px, 320px',
    alt: 'Book cover of The Human Origins of Beatrice Porter',
  },
  ...writingSampleImages,
])
---

<Base title={null}>
  <Header
    useAsTitle
    class="sm:text-shadow relative z-50 -mb-14"
    textColor="white"
  />
  <main class="text-lg">
    <BookSplash client:load data={page} className="pt-14" images={images} />

    <QuoteGrid client:tina data={page} max={3} />

    <Bio client:tina data={page} images={images} />

    <WritingSamples client:tina data={writingSamples} max={3} images={images} />

    <div id="contact-group" class="container mx-auto justify-around xl:flex">
      <div
        id="mailing-list"
        class="order-last my-16 basis-1/2 border-gray-900 xl:mb-0 xl:ml-8 xl:border-l xl:pb-16 xl:pl-8"
      >
        <TinaEmailSignUp client:visible data={page} />
      </div>
      <div id="contact" class="my-16 min-h-[10rem] basis-1/2">
        <TinaContactForm client:visible data={page} />
      </div>
    </div>
  </main>
  <Footer />
</Base>
