---
import type { ImageData } from '@build/images'
import Base from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import BookSplash from '@components/BookSplash.tsx'
import { ReviewQuote } from '@components/Quote.tsx'
import Bio from '@components/Bio.tsx'
import WritingSamples from '@components/WritingSamples.tsx'
import EmailSignUp from '@components/EmailSignUp'
import ContactForm from '@components/ContactForm'
import Footer from '@components/Footer.astro'
import { makeResponsive } from '@lib/build/images'
import { isNotEmpty } from '@lib/utils'

import { client } from '@tina/__generated__/client'

const page = await client.queries.home({ relativePath: 'home.yaml' })
const writingSamples = await client.queries.writingSamples()

const bookCover = '/media/beatrice-porter-cover.jpg'

const writingSampleImages =
  writingSamples.data.home.writing.selections
    ?.map((s) => s?.item.image)
    .filter(isNotEmpty)
    .map<ImageData>((path) => ({
      path,
      sizes:
        '(min-width: 1536px) 476px, (min-width: 1280px) 396px, (min-width: 1024px) 438px, (min-width: 768px) 320px, (min-width: 640px) 576px, 100vw',
    })) || []

const images = await makeResponsive([
  {
    path: page.data.home.about.image,
    sizes: '(min-width: 1536px) 432px, (min-width: 450px) 384px, 100vw',
    // this should be cropped to a square for sizes to be accurate
  },
  {
    path: bookCover,
    sizes:
      '(min-width: 1536px) 382px, (min-width: 768px) 340px, (min-width: 640px) 576px, 100vw',
    alt: 'Book cover of The Human Origins of Beatrice Porter',
  },
  ...writingSampleImages,
])
---

<Base title="Soraya Palmer">
  <Header
    useAsTitle
    class="text-shadow relative z-50 -mb-14"
    textColor="white"
  />
  <main class="text-lg">
    <BookSplash
      client:load
      className="pt-14"
      cover={bookCover}
      images={images}
    />
    <div id="pull-quotes" class="bg-gray-50 py-16">
      <div
        class="container mx-auto grid justify-items-center gap-16 md:grid-cols-3 md:gap-8 lg:gap-16"
      >
        <ReviewQuote
          author="Ingrid Rojas Contreras"
          source="The New York Times Book Review"
          url="https://www.nytimes.com/2023/03/28/books/review/the-human-origins-of-beatrice-porter-and-other-essential-ghosts-soraya-palmer.html"
        >
          This is a book written with the gods of storytelling in mind.
        </ReviewQuote>

        <ReviewQuote
          source="Today"
          url="https://www.today.com/popculture/best-new-books-2023-t272941"
        >
          One of the Best New Books to Read in 2023.
        </ReviewQuote>

        <ReviewQuote
          author="Sarah Neilson"
          source="Shondaland"
          url="https://www.shondaland.com/inspire/books/a43391194/soraya-palmers-the-human-origins-of-beatrice-porter-and-other-essential-ghosts/"
        >
          [A] stunning debut novel . . . With magnetic prose and nuanced
          characters, Palmer has created a story where readers will be invested
          from page one.
        </ReviewQuote>
      </div>
    </div>

    <Bio client:tina data={page} images={images} />

    <WritingSamples client:tina data={writingSamples} images={images} />

    <div id="contact-group" class="container mx-auto justify-around xl:flex">
      <div
        id="mailing-list"
        class="order-last my-16 basis-1/2 border-gray-900 xl:mb-0 xl:ml-8 xl:border-l xl:pb-16 xl:pl-8"
      >
        <EmailSignUp client:visible />
      </div>
      <div id="contact" class="my-16 basis-1/2">
        <ContactForm
          client:visible
          action="https://knyawz3heb.execute-api.us-east-1.amazonaws.com/Prod/contact/"
        />
      </div>
    </div>
  </main>
  <Footer />
</Base>
