---
import '@styles/global.scss'
import { client } from '@tina/__generated__/client'
import { makeOg } from '@lib/build/images'

export interface Props {
  title: string | null
  description?: string | null
  ogImage?: string | null
  class?: string
}

let { title, description, class: className, ogImage } = Astro.props

const siteTitle = 'Soraya Palmer'
const canonicalUrl = Astro.site && new URL(Astro.url.pathname, Astro.site)

title = title && title !== siteTitle ? `${title} – ${siteTitle}` : siteTitle
ogImage ??= await client.queries
  .global({ relativePath: 'global.yaml' })
  .then(({ data }) => data.global.ogImage)
ogImage &&= await makeOg(ogImage)
---

<!doctype html>
<html lang="en" class="bg-gray-50 2xl:text-lg">
  <!--
    site design by Dylan Awalt-Conley,
    web.dylan.ac
  -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage} />}

    <link rel="shortcut icon" type="image/svg" href="/media/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    {
      import.meta.env.MODE === 'production' && (
        <script
          defer
          data-domain="sorayapalmer.com"
          src="https://plausible.io/js/script.js"
        />
      )
    }
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
