---
import '@styles/global.scss'

export interface Props {
  title: string
  description?: string
  ogImage?: string
  class?: string
}

const {
  title,
  description,
  class: className,
  ogImage = '/og-default.png',
} = Astro.props

const canonicalUrl = Astro.site && new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="en" class="bg-gray-50 2xl:text-lg">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:image" content={ogImage} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,700;1,5..1200,300;1,5..1200,400;1,5..1200,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class={className}>
    <slot />
  </body>
</html>

<!--
<style is:global>
  body {
    font-family: ui-serif;
    font-family: Playfair, sans-serif;
    font-family:
      Freight Sans Book,
      sans-serif;
    font-family: Georgia, sans-serif;
    font-family: Montserrat, sans-serif;
    font-family:
      Libre Baskerville,
      sans-serif;
    font-family:
      Noto Serif,
      sans-serif;
    font-family: Merriweather, sans-serif;
    font-family: Lora, sans-serif;
  }
</style>
-->
